  *{
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
  background-color: aquamarine;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
   padding: 1rem; 
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

body > nav {
  grid-area: nav;
  background-color: #25994d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

footer {
  background-image: url("https://i.imgur.com/RaVJuLr.jpeg");
  background-size: cover ;
}