<%- include('../partials/header') %>

<h2>Enter a New Recipe</h2>
<form action="/recipes" method="POST">
    <label>Recipe Name:
        <input type="text" name="recipeName">
      </label><br>
    <label>Creator
        <input type="text" name="creator">
    </label><br>
    <label>Difficulty Level
        <select name="difficult">
          <option value="Easy">Easy</option>
          <option value="Medium">Medium</option>
          <option value="Hard">Hard</option>
          <option value="Very Hard">Very Hard</option>
        </select>
      </label><br>
    <label>Allergies?</label>
        <input type="checkbox" name="allergies" checked>
        <br>
    <label>Cooking Instructions
      <textarea name="cookingInstructions"></textarea>
    </label><br>  
    <button type="submit">Add Recipe</button>
</form>


<%- include('../partials/footer') %>